@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply min-h-screen font-sans text-zinc-100 antialiased;
  background: radial-gradient(at top left, #0f172a, #020617);
  background-attachment: fixed;
}
